.rk-ldgj ul,rk-ldgj li,.rk-ldgj dl,rk-ldgj dt,.rk-ldgj dd {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.rk-ldgj .green {
    height: 100px;
    background: url("../img/circle.png") no-repeat center center;
}
.rk-ldgj .grey {
    height: 100px;
    background: url("../img/circle.png") no-repeat center center;
}
.rk-ldgj .blue {
    height: 100px;
    background: url("../img/circle.png") no-repeat center center;
}

.rk-ldgj .green dt {
    line-height: 100px;
    font-size: 36px;
    text-align: center;
    color: #57d916
    /*padding-top: 23px;*/
}
.rk-ldgj .grey dt {
    line-height: 100px;
    font-size: 36px;
    text-align: center;
    color: #999999
    /*padding-top: 23px;*/
}
.rk-ldgj .blue dt {
    line-height: 100px;
    font-size: 36px;
    text-align: center;
    color: #0a98cc
    /*padding-top: 23px;*/
}
.rk-ldgj .index dd {
    text-align: center;
}
.rk-ldgj .vline {
    width: 2px;
    height: 30px;
    background: #999999;
    margin: -9px auto 0 auto;
}
.rk-ldgj .detailgreen {
    width: 190px;
    margin: 0 auto;
    border: 1px solid #57d916;
    border-radius: 10px;
    font-size: 12px;
}
.rk-ldgj .detailgrey {
    width: 190px;
    margin: 0 auto;
    border: 1px solid #999999;
    border-radius: 10px;
    font-size: 12px;
}
.rk-ldgj .detailblue {
    width: 190px;
    margin: 0 auto;
    border: 1px solid #0a98cc;
    border-radius: 10px;
    font-size: 12px;
}

.rk-ldgj .detailgreen dt {
    /*line-height: 40px;*/
    font-size: 14px;
    padding: 5px 10px;
    font-size: 14px;
    background: #f5f5f5;
    border-radius: 10px 10px 0 0;
}
.rk-ldgj .detailgrey dt {
    /*line-height: 40px;*/
    font-size: 14px;
    padding: 5px 10px;
    font-size: 14px;
    background: #f5f5f5;
    border-radius: 10px 10px 0 0;
}
.rk-ldgj .detailblue dt {
    /*line-height: 40px;*/
    font-size: 14px;
    padding: 5px 10px;
    font-size: 14px;
    background: #f5f5f5;
    border-radius: 10px 10px 0 0;
}
.rk-ldgj .detailblue .info li {
    padding: 5px;
}
.rk-ldgj .detailgrey .info li {
    padding: 5px;
}
.rk-ldgj .detailgreen .info li {
    padding: 5px;
}
.rk-ldgj>ul>li {
    float: left;
    width: 25%;
    position: relative;
    min-height: 100px;
}
.rk-ldgj .arrow {
    position: absolute;
    top: 30px;
    width: 80px;
    height: 40px;
    /*background: url(../img/arrow1.png) no-repeat center bottom;*/
    right: -40px;
}

.rk-ldgj .arrow .imgpass{
    height: 20px;
    background: url(../img/arrow1.png) no-repeat center center;
}
.rk-ldgj .arrow .imgblue{
    height: 20px;
    background: url(../img/arrow2.png) no-repeat center center;
}

.rk-ldgj .arrow .imgwait{
    height: 20px;
    background: url(../img/arrow3.png) no-repeat center center;
}


.rk-ldgj .arrow span {
    display: block;
    text-indent: 0px;
    line-height: 10px;
}
.rk-ldgj .arrow.down {
    position: relative;
    top: auto;
    right: auto;
    transform: rotate(90deg);
    height: 80px;
    margin: 0 auto;
    background-position: center;
    padding-top: 20px;
}
.rk-ldgj .arrow.left{
    right: auto;
    left: -40px;
}
.rk-ldgj .arrow.left span {
    text-indent: 28px;
}
.rk-ldgj .arrow.left .imgpass {
    transform: rotate(180deg);
}
.rk-ldgj .arrow.left .imgblue {
    transform: rotate(180deg);
}
.rk-ldgj .arrow.left .imgwait {
    transform: rotate(180deg);
}
.rk-ldgj .arrow.none {
    display: none;
}


.imgPosition{
    width: 100px;
    height: 150px;
    margin: 20px 0 0 90px;
}
div.imgPosition{
    background: url("../img/nopic.png")
}

.hint li {
        list-style: none;
        font-size: 14px;
        float: left;
        padding: 0px 20px 0px 15px;
    }
    .hint{
        margin-bottom: 50px;
    }
    
    .circle1 {
        background: url(../img/green.png) no-repeat center left;
    }
    
    .circle2 {
        background: url(../img/blue.png) no-repeat center left;
    }
    
    .circle3 {
        background: url(../img/gray.png) no-repeat center left;
    }
    
    .circle4 {
        background: url(../img/orange.png) no-repeat center left;
    }