.control-label {
		font-weight: normal
	}	
	.form-control {
		height: 32px;
	}	
	.breadcrumb {
		left: 10px;
	}	
	.breadcrumb li {
		font-size: 14px;
	}
		
	.mainContent {
		background-color: rgb( 255, 255, 255);
		box-shadow: 0px 2px 4px 0px rgb(  187, 187, 187);
		position: absolute;
		left: 21%;
		top: 70px;
		width: 1000px;
		min-height: 400px;
		z-index: 141;
	}
	
	.content-header {
		padding-top: 30px;
		padding-left:25px;
	}
	@media (max-width: 1920px) {
		.mainContent {
			width: 1620px;
			left: 14%;
		}
	}
	
	@media (max-width: 1600px) {
		.mainContent {
			width: 1300px;
			left: 17%;
		}
	}

	@media (max-width: 1366px) {
		.mainContent {
			width: 1060px;
			left: 19%;
		}
	}	
	@media (max-width: 1360px) {
		.mainContent {
			width: 1000px;
			left: 20.4%;
		}
		
	}

		.breadDetailOne{
		font-family: "Microsoft YaHei", 微软雅黑;
		font-size: 14px;
		color: #333333;
	}
			.breadDetailTow {
		font-family: "Microsoft YaHei", 微软雅黑;
		font-size: 14px;
		color: #808080;
	}
	
