/*气泡内容样式*/
.infoWindowCon {
    table-layout:fixed;
}
.infoWindowCon tr{
    line-height:25px;
}
.infoWCA {
    cursor:pointer;
}
.header{
    font-weight:bold;
    font-size:13px;
}
.infoTdOne {
    padding-left:2px;
    text-align:right!important;
    max-width:135px;
    white-space: nowrap;
    word-break: keep-all;
}
.hzLine{
    border:none;
    border-top:1px solid #333333;
    margin-top:6px;
    margin-bottom:6px;
}
.infoTdTwo {
    padding-right:8px;
    word-wrap:break-word;
    word-break:break-all;
    font-weight:600;

}
/*气泡标题样式*/
#xiangqing {
 font-weight:normal;
 font-size:12px;
}
#iwTitle {
    color:black;
    text-decoration:none;
}
#iwTitle:hover,#xiangqing:hover{
     cursor:pointer;
}
/*超链接的样式*/
.action a{
    text-decoration:none;
}

.esriPopupWrapper .content{
    min-height:0px;
    padding:0px;
    margin-right:0px;
    margin-left:0px;
    padding-left:0px;
    padding-right:0px;
}
