.main-right-top{
    width:100%;
    float:left;
    overflow:hidden;
}
.main-left-guanggao{
    float:left;
    overflow:hidden;
    width:75%;
}
.item>img{
    height:300px !important;
}
.main-right-redian{
    float:left;
    overflow:hidden;
    width:25%;
}
.media{
    margin-top:0 !important;
    margin-bottom:15px !important;
}
.media>a{
    width:180px;
    height:30px;
    margin-bottom:10px;
}
.media img{
    width:80px;
    height:60px;
}
.main-right-bottom{
    width:100%;
    float:left;
    overflow:hidden;
}
.main-right-bottom>h3{
    text-align:left;
    border-bottom:#00FF7F 2px solid;
}
.thumbnail>img{
    width:290px;
    height:190px;
}
.main-right-mid{
    float:left;
    overflow:hidden;
    width:100%;
    min-height:500px;
}
.main-right-mid>h3{
    text-align:left;
    border-bottom: #00FF7F 2px solid;
}
#someTab{
    color:#31708f;
}
.main-right-yidong{
    float:left;
    overflow:hidden;
    width:100%;
}