body {
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:#555;
}
body a{
    color:#333;
}
body a:hover{
    color:#40E0D0;
}
h3{
    color:#40E0D0;
    font-weight: 100;
}
#logo{
    width:100px;
    height:70px;
}
#nav{
    overflow:hidden;
    height:70px;
    width:100%;
    border-bottom:#00FF7F 2px solid; 
    position: fixed;
    background-color: #fff;
    z-index: 100;
}

.daohang{
    float:left;
    width:100%;
    overflow:hidden;
    list-style: none;
}
.daohang>li{
    float:left;
    width:12%;
    height:70px;
    text-align:center;
    line-height: 70px;
}
.daohang>li>a{
    display:block;
    font-size:18px;
    font-weight:100;
    text-decoration:none;
}
.daohang>li>a:not(.img):hover{
    color:#fff;
    /*background-color:#8bc220;*/
    /*background-color:#333;*/
    background-color:#ccc;
}
.daohang>li .userImage:hover{
    color:#fff;
    background-color:#fff;
}
.daohang .username>b>a{
    display: block;
    width:100%;
    height:40px;

}
.daohang .username img{
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    margin-left:58.5px;
}
.daohang .username>span{
    display:block;
    width:100%;
    height:30px;
    line-height:30px;
    text-align:center;
}
#main{
    padding-top:15px;
    width:100%;
    float:left;
    overflow:hidden;
    text-align: -webkit-center;
    background-color: #f0f0f0;
    min-height:500px;
    margin-top:70px;
}
.main{
    width:90%;
    overflow:hidden; 
}
.main-left{
    width:20%;
    float:left;
    overflow:hidden;
    min-width: 242.81px;
    min-height: 235px;
}
.main-left>ul{
    list-style: none;
    width:100%;  
    padding:0 !important;
}
.main-left>ul>li>a{
    color:#fff;
    display:block;
    padding:2px 10px 2px 5px;
    height:45px;
    line-height: 45px;
    background-color:#333;
    border-top:#fff 1px solid;
    font-size:15px;
    text-decoration: none;
}
.main-left>ul>li>a:hover{
    background-color:#8bc220;
}
.nav-main-left{
    background-color:#8bc220;
}
.main-right{
    width:80%;
    padding-left:10px;
    float:left;
    overflow:hidden;
}
#footer{
    width:100%;
    float:left;
    overflow:hidden;
    min-height:150px;
    line-height:150px;
    background-color: #333;
    color:#fff;
    text-align: center;
}