.delete-unit{ display: none; }
.row-del .delete-unit{ display: block; }
.row-del .normal-unit{display: none;}
.row-del span{
    color: gray; 
    text-decoration: line-through;
}
.no-wrap{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
    white-space: nowrap;
}