.main-sidebar, .left-side
{
    padding-top: 0px;
    position: absolute;
}
.l-head *{
    box-sizing: content-box;   
    line-height: 1.14;}
.content-index a,
.l-head a{color: #333;}
.content-index ul,
.content-index li,
.l-head ul,
.l-head li{list-style: none;padding: 0;margin: 0;box-sizing: content-box;}
.content-index input{font-family: "宋体";font-size: 12px;line-height: 100%;box-sizing: content-box;}
.content-index label{font-weight: normal;box-sizing: content-box;}
.content-index input[type="checkbox"]{margin: 0;}