body {
    /*background-image: url(../index.jpg);
    width: 1918px;*/
    font-family: "Microsoft YaHei"; 
}

.l-head {
    position: relative;
}

.l-topbar {
    height: 40px;
    background: #00a9e6;
}

.l-header-left{
    float:left;
    font-size:18px;
    color:white;
    margin-top: 10px;
}

.l-header-right{
    float:right;
    font-size:14px;
    color:white;
    margin-top: 13px;
    margin-right:20px;
}

.l-header-icon{
    float:right;
    margin-top: 11px;
    margin-right:5px;
    width: 20px;
    height: 22px;
}

.icon-exit {
    background: url(../images/icon_other/icon_exit.png) no-repeat;
}
.icon-email {
    background: url(../images/icon_other/icon_email.png) no-repeat;
}
.icon-set {
    background: url(../images/icon_other/icon_set.png) no-repeat;
}

.l-navbar-icon{
    margin-top:12px;
    margin-left:28px
}
.l-navbar {
    height: 70px;
    background:#fff;
}



ul.top-nav {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.top-nav li {
    float: left;
    display: block;
    min-width: 58px;
    height: 100%;
    padding: 0 15px !important;
}
.top-nav li:hover,
.top-nav li.act {
    background: #f5f5f5;
}

.top-nav .nav-text {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    /* font-weight: bold; */
    color: #333333;
}
.top-nav .act a,
.top-nav .act span,
.top-nav li:hover a,
.top-nav li:hover span{
    color: #219bd9;
    font-weight: bold;
}
.top-nav .icon {
    display: block;
    width: 100%;
    height: 46px;
    background: no-repeat center center;
}
.top-nav .icon:hover{cursor: pointer;}
.top-nav .icon-nav1 {
    background-image: url(../images/icon_navi/icon1.png);
}
.top-nav li:hover .icon-nav1,.top-nav .act .icon-nav1 {
    background-image: url(../images/icon_navi/icon1-act.png);
}
.top-nav .icon-nav2 {
    background-image: url(../images/icon_navi/icon2.png);
}
.top-nav li:hover .icon-nav2,.top-nav .act .icon-nav2 {
    background-image: url(../images/icon_navi/icon2-act.png);
}
.top-nav .icon-nav3 {
    background-image: url(../images/icon_navi/icon3.png);
}
.top-nav li:hover .icon-nav3,.top-nav .act .icon-nav3 {
    background-image: url(../images/icon_navi/icon3-act.png);
}
.top-nav .icon-nav4 {
    background-image: url(../images/icon_navi/icon4.png);
}
.top-nav li:hover .icon-nav4,.top-nav .act .icon-nav4 {
    background-image: url(../images/icon_navi/icon4-act.png);
}
.top-nav .icon-nav5 {
    background-image: url(../images/icon_navi/icon5.png);
}
.top-nav li:hover .icon-nav5,.top-nav .act .icon-nav5 {
    background-image: url(../images/icon_navi/icon5-act.png);
}
.top-nav .icon-nav6 {
    background-image: url(../images/icon_navi/icon6.png);
}
.top-nav li:hover .icon-nav6,.top-nav .act .icon-nav6 {
    background-image: url(../images/icon_navi/icon6-act.png);
}
.top-nav .icon-nav7 {
    background-image: url(../images/icon_navi/icon7.png);
}
.top-nav li:hover .icon-nav7,.top-nav .act .icon-nav7 {
    background-image: url(../images/icon_navi/icon7-act.png);
}
.top-nav .icon-nav8 {
    background-image: url(../images/icon_navi/icon8.png);
}
.top-nav li:hover .icon-nav8,.top-nav .act .icon-nav8 {
    background-image: url(../images/icon_navi/icon8-act.png);
}
.top-nav .icon-nav9 {
    background-image: url(../images/icon_navi/icon9.png);
}
.top-nav li:hover .icon-nav9,.top-nav .act .icon-nav9 {
    background-image: url(../images/icon_navi/icon9-act.png);
}
.top-nav .icon-nav10 {
    background-image: url(../images/icon_navi/icon10.png);
}
.top-nav li:hover .icon-nav10,.top-nav .act .icon-nav10 {
    background-image: url(../images/icon_navi/icon10-act.png);
}
.top-nav .icon-nav11 {
    background-image: url(../images/icon_navi/icon11.png);
}
.top-nav li:hover .icon-nav11,.top-nav .act .icon-nav11 {
    background-image: url(../images/icon_navi/icon11-act.png);
}
.top-nav .icon-nav12 {
    background-image: url(../images/icon_navi/icon12.png);
}
.top-nav li:hover .icon-nav12,.top-nav .act .icon-nav12 {
    background-image: url(../images/icon_navi/icon12-act.png);
}
.top-nav .icon-nav13 {
    background-image: url(../images/icon_navi/icon13.png);
}
.top-nav li:hover .icon-nav13,.top-nav .act .icon-nav13 {
    background-image: url(../images/icon_navi/icon13-act.png);
}
.top-nav .icon-nav14 {
    background-image: url(../images/icon_navi/icon14.png);
}
.top-nav li:hover .icon-nav14,.top-nav .act .icon-nav14 {
    background-image: url(../images/icon_navi/icon14-act.png);
}
.top-nav .icon-nav15 {
    background-image: url(../images/icon_navi/icon15.png);
}
.top-nav li:hover .icon-nav15,.top-nav .act .icon-nav15 {
    background-image: url(../images/icon_navi/icon15-act.png);
}
.top-nav li.disabled{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.l-content{
    background: #f5f5f5;
    position: relative;
}

.content-index {
    width: 1100px;
    margin: 0 auto;
    /* background:#fff */
}

.focus-items {
    height: 300px;
    position:relative;
    overflow: hidden;
    width: 100%;
    background: #e0e8e7 url(../images/logo/banner.png) no-repeat center center;
}

.index-main {
    width: 100%;
    min-height: 50px;
    position: relative;
    margin-top: 20px;
}

.left-news {
    width: 720px;
    height: 283px;
}

.login-form,.login-info {
    position: absolute;
    width: 380px;
    height: 308px;
    right: 0;
    top: 0;
}

.index-title {
    line-height: 24px;
    font-size: 16px;
    border-left: 2px #00a7e3 solid;
    text-indent: 4px;
}

.news-inner {
    padding-top: 8px;
}

.news-image {
    float: left;
    width: 321px;
    height: 241px;
    position: relative;
}

ul.news-list {
    float: left;
    width: 333px;
    height: 252px;
    overflow: hidden;
    padding-left: 35px;
    margin-top: -6px;
    font-size: 14px;
}

ul.news-list li {
    line-height: 35px;
    font-size: 14px;
    text-indent: 31px;
    border-bottom: 1px solid #e8e7e4;
    background: url(../images/icon_other/square.png) no-repeat left center;
}

.news-list li a {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "宋体";
}

.news-image span {
    background: #fff;
    opacity:0.8;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size:16px
}

.news-image span:hover{
    opacity:0.9;
}

.login-inner {
    width: 100%;
    height: 242px;
    margin-top: 5px;
    background: #fff;
    border-radius: 9px;
    position: relative;
}

label.input-span {
    display: block;
    padding-left: 30px;
    position: absolute;
    border: 1px solid #d9d7d2;
    line-height: 28px;
    width: 208px;
}

.input-span input {
    border: none;
    width: 195px;
    font-size: 14px;
}

label.input-span.input-username {
    left: 71px;
    top: 41px;
    background: url(../images/icon_other/icon_account.png) 4px center no-repeat;
}

label.input-span:focus {
    border-color: #35bae5;
}

label.input-span.input-password {
    left: 71px;
    top: 90px;
    background: url(../images/icon_other/icon_clock.png) 4px center no-repeat;
}

label.check-span {
    position: absolute;
    left: 70px;
    top: 130px;
    line-height: 13px;
    font-size: 12px;
}

.check-span input[type="checkbox"] {display: inline-block;position: absolute;}

.check-span span {
    display: inline-block;
    text-indent: 18px;
}

.login-btns {
    width: 238px;
    position: absolute;
    text-align: center;
    left: 70px;
    top: 169px;
    line-height: 30px;
}

.login-btns input[type="button"] {
    width: 71px;
    border: none;
    height: 24px;
    display: inline-block;
    background: #e8e7e4;
}

.login-btns input[type="button"].blu {
    background: transparent;
}

.login-btns input[type="button"].blue {
    background: #00a9e6;
    color: #fff;
}

.quick-links ul {
    width: 1099px;
    height: 312px;
    margin-top: 5px;
    border-right: #ecebe9 1px solid;
    border-bottom: #ecebe9 1px solid;
}

.quick-links ul li {
    float: left;
    width: 156px;
    height: 156px;
    border-left: #ecebe9 1px solid;
    border-top: #ecebe9 1px solid;
    background: #fff;
}
.quick-links ul li:hover{
    background-color: #e6e6e6;
    color: #35bae5;
}
.quick-links ul li:hover a,
.quick-links ul li:hover span{
    color: #35bae5;
}
.icon-link {
    width: 100%;
    display: block;
    height: 112px;
    background: no-repeat center center;
}

.link-text {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
}

.icon-link.icon-1 {
    background-image: url('../images/logo/logo1.png');
}
.icon-link.icon-2 {
    background-image: url('../images/logo/logo2.png');
}
.icon-link.icon-3 {
    background-image: url('../images/logo/logo3.png');
}
.icon-link.icon-4 {
    background-image: url('../images/logo/logo4.png');
}
.icon-link.icon-5 {
    background-image: url('../images/logo/logo5.png');
}
.icon-link.icon-6 {
    background-image: url('../images/logo/logo6.png');
}
.icon-link.icon-7 {
    background-image: url('../images/logo/logo7.png');
}

.index-footer{
    height:140px;
    background:#dfe1e6
}

.call-icon{
    float:left;
    margin-top:15px;
    margin-left:505px;
    
}

.call-text{
    float:left;
    font-size:18px;
    color:#2ea8e6;
    margin-top:20px;
    margin-left:20px;
    text-align:center;
}
.other{
    font-size:14px;
    text-align:center;
}
span.l-header-logo {
    float: left;
    margin: 4px 10px 4px 4px;
    background: url(../images/logo/LOGO.png) no-repeat;
    width: 32px;
    height: 32px;
}


ul.news-list li:hover {
    background-image: url(../images/icon_other/square_hover.png);
}

.news-list li:hover a {
    color: #2ea8e6;
}

.call-wrap {
    height: 75px;
}

/*公共模块*/
/* toolbar 按钮右边间距 ，如果文字少的按钮，增加 less-letter-btn */
.cig-bars .btn{
    margin-right: 10px;
}
.cig-bars .less-letter-btn{
    letter-spacing: 4px;
    text-indent: 4px;
}
/* bs按钮颜色重新搭配 */
button.btn.btn-danger {
    background-color: #fa6e5b;
    border-color: #fa6e5b;
}
/*bs tab边框*/
.tab-pane{
    /*background: #fff;
    border: #ddd solid;
    border-width: 0 1px 1px 1px;*/
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #6dcde9;
    background-color: #f5f5f5;
    border: 1px solid #d4d4d4;
    border-bottom-color: transparent;
    border-radius: 5px 5px 0 0;
}
.nav-tabs>li>a{
    color: #333;
    padding: 6px 8px;
}

/* 只读字段显示灰色背景 */
span.form-control{
    background: #f5f5f5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 使用dl布局的form，当使用小号form控件时，缩小dl之间的间距 */
.form-group-sm .dl-horizontal{
    margin-bottom: 5px;
}
.form-horizontal .dl-horizontal .control-label{
    padding-top: 4px;
    font-weight: normal;
}
/* vue 标签 */
[is="bs-pop"],bs-pop,[v-cloak]{display: none;}

/* 详情页面中间搭的白底台 */
.detail-stage {
    padding: 20px 15px;
    box-shadow: 0px 2px 4px 0px rgb(  187, 187, 187);
}
.detail-stage .nav-tabs{
    border-bottom: 0;
}
.bg-white{
    background: #fff;
}
/* 减小左侧菜单padding，使长菜单在一行内显示 */
.list-group-item{
  padding:10px 0px;
}

/* 顶部四级菜单 */
.sub-menu{
    height: 40px;
    min-height: 40px!important;
}
.sub-menu ul,.sub-menu li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sub-menu ul {
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    border-bottom: 1px solid #c1c1c1;
}
.sub-menu li {
    float: left;
    line-height: 27px;
    height: 27px;
    padding: 0 15px;
    background: #e6e6e6;
    border: 1px solid #c1c1c1;
    border-right: 0px;
    border-bottom: 0;
}
.sub-menu li a {
    color: #1a1a1a;
}
.sub-menu ul li:last-child {
    border-right: 1px solid #c1c1c1;
}
.sub-menu li.active,.sub-menu li:hover {
    background: transparent;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: -1px;
    height: 28px;
}
.sub-menu li.active a ,.sub-menu li:hover a {
    color: #209bd9;
}
a.disabled,a.disabled:hover{
    color: #6f6f6f;
}
.treeview.menu-tree .list-group-item.treenode-level2{
    color: #5a5a5a;
    background-color: #f1f8ff;
    border: 1px solid #f1f8ff;
    border-width: 1px 0px;
    height: 30px;
    padding-top: 5px;
}
.treeview.menu-tree .list-group-item.treenode-level2:hover,
.treeview.menu-tree .list-group-item.treenode-level2.node-selected{
    /* background-color: #edf1f4 !important; */
    /* border-top: 1px solid #d9dee3 !important; */
    background: url("../images/menubg.png") repeat-x;
    color: #2d2d2d;
}
.treeview.menu-tree .list-group-item.treenode-level2 a{
	color: inherit;
}
.treeview.menu-tree .list-group-item.treenode-level1{
    color: #219bd9;
    background-color: #e0f2fe;
    border: 1px solid #d6e2ec;
    border-width: 1px 0px;
    border-radius: 0!important;
    font-weight: bold;
    margin-bottom: 0;
    padding-left: 8px;
}
.treeview.menu-tree .list-group-item.treenode-level1:hover,
.treeview.menu-tree .list-group-item.treenode-level1.node-selected{
    background-color: #cbeaff!important;
    color: #219bd9!important;
}
.treeview.menu-tree .treenode-level1 span.icon{
    margin-right: 8px!important;
}
li.list-group-item.node-treeViewSlider.treenode-level1::before {
    content: ".";
    text-indent: -9999px;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    background: #f1f8ff;
    left: 0;
}
li.list-group-item.node-treeViewSlider.treenode-level1::after {
    content: ".";
    text-indent: -9999px;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background: #f1f8ff;
    left: 0px;
}