body {
    /*background-image: url(../index.jpg);
    width: 1918px;*/
    font-family: "Microsoft YaHei";
}

.l-head {
    height: 132px;
    position: relative;
}

.l-topbar {
    height: 50px;
    background: #00a9e6;
}

.l-header-left{
    float:left;
    font-size:18px;
    color:white;
    margin-top:15px
}

.l-header-right{
    float:right;
    font-size:14px;
    color:white;
    margin-top:16px;
    margin-right:20px
}

.l-header-icon{
    float:right;
    margin-top:15px;
    margin-right:5px;
    width: 20px;
    height: 22px;
}

.icon-exit {
    background: url(../images/icon_other/icon_exit.png) no-repeat;
}
.icon-email {
    background: url(../images/icon_other/icon_email.png) no-repeat;
}
.icon-set {
    background: url(../images/icon_other/icon_set.png) no-repeat;
}

.l-navbar-icon{
    margin-top:12px;
    margin-left:28px
}
.l-navbar {
    height: 82px;
    background:#fff
}



ul.top-nav {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.top-nav li {
    float: left;
    display: block;
    width: 88px;
    height: 100%;
}

.top-nav .nav-text {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.top-nav .act a,
.top-nav .act span,
.top-nav li:hover a,
.top-nav li:hover span{
    color: #35bae5; 
}
.top-nav .icon {
    display: block;
    width: 100%;
    height: 58px;
    background: no-repeat center center;
}
.top-nav .icon:hover{cursor: pointer;}
.top-nav .icon-nav1 {
    background-image: url(../images/icon_navi/icon1.png);
}
.top-nav li:hover .icon-nav1,.top-nav .act .icon-nav1 {
    background-image: url(../images/icon_navi/icon1-act.png);
}
.top-nav .icon-nav2 {
    background-image: url(../images/icon_navi/icon2.png);
}
.top-nav li:hover .icon-nav2,.top-nav .act .icon-nav2 {
    background-image: url(../images/icon_navi/icon2-act.png);
}
.top-nav .icon-nav3 {
    background-image: url(../images/icon_navi/icon3.png);
}
.top-nav li:hover .icon-nav3,.top-nav .act .icon-nav3 {
    background-image: url(../images/icon_navi/icon3-act.png);
}
.top-nav .icon-nav4 {
    background-image: url(../images/icon_navi/icon4.png);
}
.top-nav li:hover .icon-nav4,.top-nav .act .icon-nav4 {
    background-image: url(../images/icon_navi/icon4-act.png);
}
.top-nav .icon-nav5 {
    background-image: url(../images/icon_navi/icon5.png);
}
.top-nav li:hover .icon-nav5,.top-nav .act .icon-nav5 {
    background-image: url(../images/icon_navi/icon5-act.png);
}
.top-nav .icon-nav6 {
    background-image: url(../images/icon_navi/icon6.png);
}
.top-nav li:hover .icon-nav6,.top-nav .act .icon-nav6 {
    background-image: url(../images/icon_navi/icon6-act.png);
}
.top-nav .icon-nav7 {
    background-image: url(../images/icon_navi/icon7.png);
}
.top-nav li:hover .icon-nav7,.top-nav .act .icon-nav7 {
    background-image: url(../images/icon_navi/icon7-act.png);
}
.top-nav .icon-nav8 {
    background-image: url(../images/icon_navi/icon8.png);
}
.top-nav li:hover .icon-nav8,.top-nav .act .icon-nav8 {
    background-image: url(../images/icon_navi/icon8-act.png);
}
.top-nav .icon-nav9 {
    background-image: url(../images/icon_navi/icon9.png);
}
.top-nav li:hover .icon-nav9,.top-nav .act .icon-nav9 {
    background-image: url(../images/icon_navi/icon9-act.png);
}
.top-nav .icon-nav10 {
    background-image: url(../images/icon_navi/icon10.png);
}
.top-nav li:hover .icon-nav10,.top-nav .act .icon-nav10 {
    background-image: url(../images/icon_navi/icon10-act.png);
}
.top-nav .icon-nav11 {
    background-image: url(../images/icon_navi/icon11.png);
}
.top-nav li:hover .icon-nav11,.top-nav .act .icon-nav11 {
    background-image: url(../images/icon_navi/icon11-act.png);
}
.top-nav .icon-nav12 {
    background-image: url(../images/icon_navi/icon12.png);
}
.top-nav li:hover .icon-nav12,.top-nav .act .icon-nav12 {
    background-image: url(../images/icon_navi/icon12-act.png);
}
.top-nav .icon-nav13 {
    background-image: url(../images/icon_navi/icon13.png);
}
.top-nav li:hover .icon-nav13,.top-nav .act .icon-nav13 {
    background-image: url(../images/icon_navi/icon13-act.png);
}
.l-content{
    background: #f5f5f5;
    position: relative;
}

.content-index {
    width: 1100px;
    margin: 0 auto;
    /* background:#fff */
}

.focus-items {
    height: 300px;
    position:relative;
    overflow: hidden;
    width: 100%;
    background: #e0e8e7 url(../images/logo/banner.png) no-repeat center center;
}

.index-main {
    width: 100%;
    min-height: 50px;
    position: relative;
    margin-top: 20px;
}

.left-news {
    width: 720px;
    height: 283px;
}

.login-form,.login-info {
    position: absolute;
    width: 380px;
    height: 308px;
    right: 0;
    top: 0;
}

.index-title {
    line-height: 24px;
    font-size: 16px;
    border-left: 2px #00a7e3 solid;
    text-indent: 4px;
}

.news-inner {
    padding-top: 8px;
}

.news-image {
    float: left;
    width: 321px;
    height: 241px;
    position: relative;
}

ul.news-list {
    float: left;
    width: 333px;
    height: 252px;
    overflow: hidden;
    padding-left: 35px;
    margin-top: -6px;
    font-size: 14px;
}

ul.news-list li {
    line-height: 35px;
    font-size: 14px;
    text-indent: 31px;
    border-bottom: 1px solid #e8e7e4;
    background: url(../images/icon_other/square.png) no-repeat left center;
}

.news-list li a {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "宋体";
}

.news-image span {
    background: #fff;
    opacity:0.8;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size:16px
}

.news-image span:hover{
    opacity:0.9;
}

.login-inner {
    width: 100%;
    height: 242px;
    margin-top: 5px;
    background: #fff;
    border-radius: 9px;
    position: relative;
}

label.input-span {
    display: block;
    padding-left: 30px;
    position: absolute;
    border: 1px solid #d9d7d2;
    line-height: 28px;
    width: 208px;
}

.input-span input {
    border: none;
    width: 195px;
    font-size: 14px;
}

label.input-span.input-username {
    left: 71px;
    top: 41px;
    background: url(../images/icon_other/icon_account.png) 4px center no-repeat;
}

label.input-span:focus {
    border-color: #35bae5;
}

label.input-span.input-password {
    left: 71px;
    top: 90px;
    background: url(../images/icon_other/icon_clock.png) 4px center no-repeat;
}

label.check-span {
    position: absolute;
    left: 70px;
    top: 130px;
    line-height: 13px;
    font-size: 12px;
}

.check-span input[type="checkbox"] {display: inline-block;position: absolute;}

.check-span span {
    display: inline-block;
    text-indent: 18px;
}

.login-btns {
    width: 238px;
    position: absolute;
    text-align: center;
    left: 70px;
    top: 169px;
    line-height: 30px;
}

.login-btns input[type="button"] {
    width: 71px;
    border: none;
    height: 24px;
    display: inline-block;
    background: #e8e7e4;
}

.login-btns input[type="button"].blu {
    background: transparent;
}

.login-btns input[type="button"].blue {
    background: #00a9e6;
    color: #fff;
}

.quick-links ul {
    width: 1099px;
    height: 312px;
    margin-top: 5px;
    border-right: #ecebe9 1px solid;
    border-bottom: #ecebe9 1px solid;
}

.quick-links ul li {
    float: left;
    width: 156px;
    height: 156px;
    border-left: #ecebe9 1px solid;
    border-top: #ecebe9 1px solid;
    background: #fff;
}
.quick-links ul li:hover{
    background-color: #e6e6e6;
    color: #35bae5;
}
.quick-links ul li:hover a,
.quick-links ul li:hover span{
    color: #35bae5;
}
.icon-link {
    width: 100%;
    display: block;
    height: 112px;
    background: no-repeat center center;
}

.link-text {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
}

.icon-link.icon-1 {
    background-image: url('../images/logo/logo1.png');
}
.icon-link.icon-2 {
    background-image: url('../images/logo/logo2.png');
}
.icon-link.icon-3 {
    background-image: url('../images/logo/logo3.png');
}
.icon-link.icon-4 {
    background-image: url('../images/logo/logo4.png');
}
.icon-link.icon-5 {
    background-image: url('../images/logo/logo5.png');
}
.icon-link.icon-6 {
    background-image: url('../images/logo/logo6.png');
}
.icon-link.icon-7 {
    background-image: url('../images/logo/logo7.png');
}

.index-footer{
    height:140px;
    background:#dfe1e6
}

.call-icon{
    float:left;
    margin-top:15px;
    margin-left:505px;
    
}

.call-text{
    float:left;
    font-size:24px;
    color:#2ea8e6;
    margin-top:20px;
    margin-left:20px;
    text-align:center;
    margin-bottom:10px
}
.other{
    font-size:14px;
    text-align:center;
}
span.l-header-logo {
    float: left;
    margin:9px 10px 10px 20px;
    background: url(../images/logo/LOGO.png) no-repeat;
    width: 32px;
    height: 32px;
}


ul.news-list li:hover {
    background-image: url(../images/icon_other/square_hover.png);
}

.news-list li:hover a {
    color: #2ea8e6;
}

.call-wrap {
    height: 75px;
}