.md-wrapper h1,.md-wrapper h2,.md-wrapper h3,.md-wrapper h4,.md-wrapper h5,.md-wrapper h6,.md-wrapper h7 {
    font-family: "Microsoft YaHei";
}
.md-wrapper h1{
    font-size: 16px;
    font-weight: bold;
}
.md-wrapper p {
    /*text-indent: 30px;*/
}
.md-wrapper table{
    width: 100%;
}
.md-wrapper td,.md-wrapper th{
    padding: 0 5px;
}
.md-wrapper th{
    line-height: 30px;
    /*text-align: center;*/
    white-space: nowrap;
}
.md-wrapper p ,.md-wrapper td,.md-wrapper li {
    line-height: 25px;
}


.md-wrapper dl.dl-horizontal {
    border: 1px solid #c7c7c7;
    margin: 0 0 -1px 0;
    /* padding-bottom: 20px; */
    background: #f5f5f5;
}
.md-wrapper dl.dl-horizontal dt {
    width: 210px;
}
.md-wrapper dl.dl-horizontal dt h2 {
    margin-top: 12px;
    font-size: 16px;
}
.md-wrapper dl.dl-horizontal dd {
    border-left: 1px solid #c7c7c7;
    background: #fff;
    padding: 10px;
    margin-left: 220px;
}
.md-wrapper pre
{
     border: none;
     background:none;
}