.full-page{
    position: relative;
}
.index-bottom{
    position: absolute;
    bottom: 0;
    z-index: 10;
    background: transparent;    
    height: 297px;
    left: 0;
    right: 0;
}
.index-bottom .operate-btns {
    position: absolute;
    z-index: 100;
    width: 100%;
}
.index-bottom .tab-pane.content:last-child {
    padding-top: 0px;
}

.index-bottom .operate-btns button {
    border: none;
    background: none;
    position: absolute;
}

.index-bottom .operate-btns button.resize-btn {
    top: 24px;
    background: url("/zhzl/syrk/img/resize-btn.png");
    width: 74px;
    height: 16px;
    left: 50%;
    margin-left: -37px;
}

.index-bottom .operate-btns button.close-btn {
    background: url("/zhzl/syrk/img/close.png");
    right: 0;
    top: 19px;
    width: 28px;
    height: 25px;
}

.index-bottom .operate-btns button.open-btn {
    background: url("/zhzl/syrk/img/chart.png");
    right: 0;
    bottom: 20px;
    width: 100px;
    height: 94px;
}


.index-bottom .tab-content{
    position: absolute;
    bottom: 0;
    top: 36px;
    right: 0;
    left: 0;
}

.index-bottom .nav-tabs>li>a{
    background: #e6e6e6;
    color: #747474;
    border-color: #d5d5d1;
}
.index-bottom .nav-tabs>li.active>a,.index-bottom .nav-tabs>li:hover>a{
    background: #209ad9;
    color: #fff;
    border-color: transparent;
}
.index-bottom .nav-tabs{
    background: transparent;
}
.index-bottom .tab-pane {
    height: 100%;
}
.index-bottom .tab-pane >div{
    height: 100%;
}
.index-bottom .bootstrap-table{
    height: 100%;
    position: relative;
}
.index-bottom .fixed-table-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 54px;
}
.index-bottom .fixed-table-body{
    position: absolute;
    top: 0;
    bottom: 56px;
    left: 0;
    right: 0;
    height: auto;
}
.index-bottom .fixed-table-pagination{
    display: block;
    height: 56px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.index-bottom .tab-pane.content{
    background:#f1f8ff
}

/*bar*/
.chart .row h4 {
    color: #3b9ed3;
}

.chart ul.legend,
.chart .legend li {
    padding: 0;
    margin: 0;
    list-style: none;
    /* border: 1px solid #bcc1c5; */
}

.chart .legend li {
    display: inline-block;
    line-height: 30px;
    /* padding-right: 18px; */
}

.chart ul.legend  {
    border: 1px solid #bcc1c5;
    border-radius: 7px;
    text-align: center;
    background: #fff;
}

.chart .legend span.ico::before,.chart .legend span.ico1 i {
    display: block;
    width: 10px;
    height: 10px;
    content: ".";
    text-indent: -9999px;
    margin-right: 10px;
    top: 10px;
    position: absolute;
    left: 11px;
    border-radius: 5px;
}
.chart .legend span.ico1::before{
    display: none;
}

.chart .legend span.txt {
    display: inline-block;
    height: 30px;
    /* position: relative; */
}

.chart .legend span.ico {text-indent: 30px;position: relative;}

.chart .legend .ico-color1::before,
.bar-area .stack.color1 {
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#fec2c3,endColorStr=#fe7474); /*IE 6 7 8*/ 
    background: -ms-linear-gradient(top, #fec2c3, #fe7474);
    background: -o-linear-gradient(top, #fec2c3, #fe7474);
    background: -webkit-linear-gradient(top, #fec2c3, #fe7474);
    background: linear-gradient(top, #fec2c3, #fe7474);
}
.chart .legend .ico-color2::before,
.bar-area .stack.color2 {
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#b5e1ff,endColorStr=#17a1ff); /*IE 6 7 8*/ 
    background: -ms-linear-gradient(top, #b5e1ff,  #17a1ff);
    background: -o-linear-gradient(top, #b5e1ff,  #17a1ff);
    background: -webkit-linear-gradient(top, #b5e1ff,  #17a1ff);
    background: -linear-gradient(top, #b5e1ff,  #17a1ff);
}

.pie ul.legend li{
    float: left;
}
.pie ul.legend{    
    border: none;
    background: transparent;
    width: 320px;
    margin: 0 auto;
}

.bar-area dl,
.bar-area dt,
.bar-area dd {
    margin: 0;
    padding: 0;
}

.bar-area dt {
    display: block;
    width: 110px;
    float: left;
    line-height: 20px;
    text-align: right;
}
.bar-area dt span.txt {
    line-height: 40px;
    padding-right: 10px;
    font-weight: normal;
}

.bar-area dl {
    height: 40px;
}

.bar-area dd {
    height: 40px;
    padding-top: 12px;
    position: absolute;
    left: 130px;
    right: 0;
}

.bar-area dd .stack {
    float: left;
    width: 20%;
    text-align: right;
    line-height: 16px;
    border: 0 solid transparent;
    border-radius: 20px 0 0 20px;
    height: 16px;
    color: #fff;
    -ms-box-shadow: 2px 4px 9px 0px grey;
    -o-box-shadow: 2px 4px 9px 0px grey;
    -webkit-box-shadow: 2px 4px 9px 0px grey;
    box-shadow: 2px 4px 9px 0px grey;
}

.bar-area .stack.last {
    border-radius: 0 20px 20px 0;
}
.bar-area .stack.none {
    background: none;
    text-align: left;
    color: #333;
    text-indent: 10px;
    box-shadow:none;
    width: 0%;
}

.bar-area .stack .txt {
    padding-right: 10px;
}

.height100{
    height: 100%;position: relative;
}
.bar-area{
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow: auto;
}

.index-filter .dropdown-toggle {
    background: #f5f5f4;
}

.index-filter .dropdown-menu {
    margin-right: 10px;
    margin-top: 42px;
    width: 98%;
    border: 1px solid #009bd8;
    border-radius: 3px 0 3px 3px;
    background: #f5f5f4;
}

.index-filter .btn-default.active,.index-filter .btn-default:active,.index-filter .open>.dropdown-toggle.btn-default {
    background: #f5f5f4;
    border: 1px solid #009bd8;
    border-bottom: none;
    z-index: 1001;
    border-radius: 3px 3px 0 3px;
}

.index-filter .box-footer {
    background: #f5f5f4;
}

.index-filter .btn-primary {
    background: #009bd8;
    margin-left: 30px;
    border: none;
}

.index-filter button.btn.btn-danger {
    background: #e53e3e;
    color: #fff;
    border: none;
}

.index-filter .table-filter .sl-key {
    color: #017cb2;
    text-align: right;
}

.index-filter .nav-tabs {
    border-bottom: none;
}

.index-filter .table-filter .sl-v-list li a:hover,.index-filter .table-filter .sl-v-list li.active a {
    color: #2e9bd9;
}